extends ../../layouts/default.pug

block main
  h1 Product Management Page

  table.table.table-hover.table-sm
    thead
      tr
        th STT
        th Image
        th Title
        th Price
        th Status
        th Action
    tbody
      tr
        td 1
        td
          img(
            src="https://tse2.mm.bing.net/th/id/OIP.o8Vimo2QgVZ3OaYqqQkQCAHaE8?"
            alt="Product Image"
            width="100"
            height="auto"
          )
        td Apple MacBook Pro 2023
        td $2,000
        td
          a.badge.bg-success(href="#") Active
        td
          button.btn.btn-warning.btn-sm Edit
          button.btn.btn-danger.btn-sm Delete
      tr
        td 2
        td
          img(
            src="https://tse2.mm.bing.net/th/id/OIP.o8Vimo2QgVZ3OaYqqQkQCAHaE8?"
            alt="Product Image"
            width="100"
            height="auto"
          )
        td Apple MacBook Air 2023
        td $1,600
        td
          a.badge.bg-danger(href="#") Inactive
        td
          button.btn.btn-warning.btn-sm Edit
          button.btn.btn-danger.btn-sm Delete
